body {
    width: 100%;
    background-color: white;
    overflow-y: none;
    font-family: 'Poiret One', cursive;
    background-image: url(../img/roberto2.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    /*background-size: cover;*/
    overflow-x: hidden;
}

.container {
    padding: 0;
    margin: 0;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

.name {
    color: #005FA1;
    padding: 5px;
    font-weight: bold;
    padding-left: 15px;
}

a:hover {
    text-decoration: none;
}

.header {
    background-color: black;
    opacity: 0.7;
    box-shadow: 2px 2px 5px grey;
}

h3 {
    font-family: 'Poiret One', cursive;
}

.socialLinks {
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    padding-top: 25px;
}

.socialLinks a {
    color: #505050;
}

.socialLinks img {
    height: 35px;
    vertical-align: bottom;
}

.nav {
    z-index: 1;
    padding-top: 30px;
    width: 100px;
}

.nav-pills > li.active > a {
    background-color: #575757;
    color: white;
    opacity: 0.7;
}

.nav-pills > li.active > a:hover {
    background-color: #575757;
    color: white;
    opacity: 0.7;
}

.nav > li > a {
    background-color: #313131;
    color: white;
    opacity: 0.7;
    box-shadow: 1px 1px 5px grey;
}

.nav-pills > li.active > a:focus {
    background-color: #575757;
    color: white;
    opacity: 0.7;
}

.nav > li > a:focus,
.nav > li > a:hover {
    background-color: #575757;
    opacity: 0.7;
}
.row .thumbnail {
    border:1px solid #313131;
    box-shadow:0;
      border-radius: 10px;
}
a.thumbnail {
    background-color: white;
}
/*a:hover, a:focus{
  color: white;
}*/
.thumbnail a:hover,
a:focus {
    color: white;
    border: none;
}

.content {
    padding: 10px;
    height: 100%;
}

#contact img {
    height: 120px;
}

.tab-pane.active {
    opacity: 0.7;
    background-color: white;
    padding: 20px;
    color: black;
    margin-top: 30px;
    margin-left: 20px;
    box-shadow: 2px 2px 5px grey;
}

.footer {
    color: white;
    padding: 5px;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer a {
    color: white;
}

@media(max-width:768px) {
    body {
        background-image: none;
    }
    .name {
        text-align: center;
    }
    .socialLinks {
        text-align: center;
    }
    .nav {
        text-align: center;
        width: 50%;
        margin: 25%;
        padding: 5px;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .tab-pane.active {
        margin-top: 0;
    }
    .footer {
        float: bottom;
    }
}
